/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arizonia&family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*  font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-family: 'Arizonia', cursive;    */

:root {
  --bg-color: #e4e3f2 !important;
  --btn-bg: black;
  --bg-sec: black;
}


/*  Header //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: white !important;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  box-shadow: 0px 5px 15px rgba(184, 236, 242, 0.3);
}

.active {
  border-bottom: 2px solid rgb(103, 176, 25);
}

.navbar-brand {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  margin-left: 40px;
  font-family: 'Arizonia', cursive;
  font-family: 'Montserrat', sans-serif;
}

.nav-item .nav-link{
  font-weight: 300 !important;
}


/* SEARCH BOX */

.search_box form{
  border-radius: 10px;
  width: 400px;
  height: 30px;
  margin-top: 7px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}

.search-form input {
  border: none;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  background-color: var(--bg-color);
}

.search-form button {
  margin-left: -10px;
  margin-bottom: 7px;
  border-radius: 5px;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--bg-color);
  font-size: 20px;
  height: 30px;
}

.search_icon{
  margin-top: -12px;
}




/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: var(--bg-color);
  color: white;
}


/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-div {
  margin-top: 105px;
}

.policy-header {
  margin-top: 20px;
  padding-top: 20px;
}

.policy-header h1 {
  background-color: var(--bg-color) !important;
}

.Policies-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-us {
  font-family: "Poppins";
}

.contact-us h1 {
  background-color: var(--bg-color) !important;
}

.privacy-header {
  margin-top: 15px;
  font-family: "Poppins";
  background-color: var(--bg-color) !important;
}




/* =======  All Categories  =============  */
.product-link {
  text-decoration: none !important;
  color: var(--bg-color) !important;
}

.cat_card{
  border: 2px solid var(--bg-sec);
  color: var(--bg-sec) !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
  border: 1px solid var(--bg-color);
  color: var(--bg-sec);
}

.cat-btn:hover {
  background-color: var(--bg-color);
  color: var(--bg-sec);
}


/* =============================
==========footer============= */

#footerDiv {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: space-around;
  margin-top: 30px;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

#footLeft {
  width: 20%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 50px;
}
#links h4{
  color: white;
  font-size: 1rem;
  margin-bottom: 20px;
}

#footLeft #foot-logo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
}

#footLeft #social {
  display: flex;
}

#footLeft #social img {
  width: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

#footCenLeft {
  width: 20%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 50px;
}

#footCenLeft p {
  color: rgb(196, 196, 196);
}

#footCenLeft span .link-pages {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  text-decoration: none;
}

#footCenRight {
  width: 20%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 50px;
}

#footCenRight p {
  color: rgb(196, 196, 196);
}

#footCenRight span {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

#footRight {
  width: 35%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 50px;
}

#email {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

#email img {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

#email span {
  font-size: 12px;
  color: white;
}

#subscribe {
  display: flex;
  flex-direction: column;
}

#subscribe #writeEmail {
  background: transparent;
  outline: none;
  height: 50px;
  width: 80%;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  color: white;
}

#subscribe #send-btn {
  background-color: red;
  color: white;
  font-size: 15px;
  outline: none;
  height: 50px;
  border: none;
  width: 150px;
  border-radius: 5px;
}

#subscribe #send-btn:hover {
  background-color: black;
}

.footer-copy {
  margin-top: 3px;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}

.footer-copy h1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 769px) {
  .links-for-mobile {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  #footerDiv {
    justify-content: space-around;
  }

  #footLeft {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    width: 50%;
    margin-left: 5%;
  }

  #footCenLeft {
    display: none;
  }

  #footCenRight {
    display: none;
  }

  #footRight {
    width: 50%;
    margin-right: 5%;
  }

  #subscribe #send-btn {
    width: 100px;
  }

  .links-for-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 6px;
  }

  .links-for-mobile span .link-pages {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
    margin-bottom: 5px;
  }

  .contactus-img-div {
    display: none;
  }
}