@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');



/* HERO SECTION */

#hero {
  margin-top: 60px;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(3, 3, 3);
  background-image: url("../../public/Carausel/hero4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero-detail {
  padding: 0 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-detail h6{
  font-family: 'Montserrat', sans-serif;
  color: rgb(92, 92, 92);
  font-size: 20px;
}

.hero-detail h4 {
  color: rgb(44, 145, 16);
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}

.hero-detail h2{
  font-family: 'Montserrat', sans-serif;
}

.hero-detail p {
  margin-top: 15px;
  color: rgb(114, 114, 114);
}

.hero-detail button {
  margin-top: 20px;
  height: 40px;
  color: white;
  width: 100px;
  background-color: black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




/* THREE DIVS */

.three_divs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 10%;
}

.three_divs .del_div{
  border: 1px solid rgb(226, 246, 255);
  box-shadow: 1px 0px 40px 5px rgba(147, 169, 170, 0.1);
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.del_div span{
  font-weight: 30px;
  font-size: 30px;
}

.del_div h6{
  font-family: 'Aclonica', sans-serif;
  margin-top: 10px;
}

.del_div p{
  font-family: 'Montserrat', sans-serif;
  color: gray;
  font-size: 15px;
}



/* CAROUSEL */

#carouselExampleAutoplaying {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 90vw;
  margin-left: 5vw;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.carousel-item {
  border: none;
}

.carasol-img {
  width: 90vw !important;
  height: 300px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 30px;
  margin-left: 0 !important;
}




/* SUMMERS */

#summers {
  width: 100%;
  height: 400px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background-color: var(--bg-color);
  color: black; 
}

.electronics {
  background-color: white !important;
}

#summers::-webkit-scrollbar {
  display: none;
}

#summer-appliances {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;  
}

#summer-appliances p {
  padding-left: 30px;
  font-size: 1.9rem;
  padding-right: 20px;
  align-items: center;
  text-align: center;
  margin-top: 15%;
}


#appliance {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px 0px 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  color: var(--bg-color);
}

#appliance img {
  height: 180px;
  width: 180px;
  transition: transform 1s ease;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 5px ;
  padding-bottom: 20px;
  padding-top: 20px;
}

#appliance img:hover {
  transform: scale(0.8);
}

.app_detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  width: 90%;
  padding: 0px 10px;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Montserrat', sans-serif;
}
 
.app_detail h4{
  padding-top: 5px;
  font-size: 1rem;
  color: black;
}


#appliance span {
  color: green;
}

#appliance button {
  margin-top: 10px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  padding: 5px 10px 5px 10px;
  background-color: var(--bg-color);
  color: white;
  border-radius: 5px;
  background-color: var(--btn-bg) !important;
}






/* ALL PRODUCT */

.all-products {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 10px 0px 20px 0px;
  font-family: "Poppins";
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  /* font-family: 'Montserrat', sans-serif; */
}

/* ================== filters ============== */
.filters{
  background-color: var(--bg-color);
}

.filters h4 {
  margin-top: 100px;
  color: white !important;
  background-color: var(--bg-sec);
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.categories-created-check {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

/* .ant-checkbox-wrapper {
  margin-left: 2px;
} */

.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: var(--bg-sec);
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}



/* ALL PRODUCTS */

.all-products-added h1 {
  margin-top: 20px;
  color: var(--bg-sec);
  font-family: 'Montserrat', sans-serif;
}

.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 20rem;
  height: 513px;
  border: none !important;
  box-shadow: 1px 0px 40px 5px rgba(147, 169, 170, 0.1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.crd{
  background-color: white !important;
}

.home-page .card-img-top {
  height: 300px !important;
  background: white;
  padding: 40px;
}

.home-page .card img {
  transition: transform 0.4s ease;
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.card-body-div{
  height: 60px !important;
  padding:0px 20px;
  border-radius: 5px 5px 0px 0px;
}

.card-body{
  background-color: var(--bg-color);
  border-radius: 15px 15px 0px 0px;
}

.home-page .card-name-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.card-price {
  color: green;
  font-weight: bold;
  font-size: 15px;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
  height: 70px;
  font-size: 14px;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.card-name-price-btn{
  display: flex;
  flex-direction: row;
}


.btn-info{
  background-color: var(--bg-color);
  color: black !important;
  border: 1px solid black !important;
}

.btn-dark {
  background-color: var(--bg-sec);
}



.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}





#WhatYouCanBuy {
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 20px;
  font-family: 'Poppins', sans-serif;
  /* background-color: #edbe95; */
}

#WhatYouCanBuy h6 {
  color: rgb(71, 71, 71);
  border-bottom: 1px solid grey;
  font-size: 13px;
  font-weight: bold;
}

#WhatYouCanBuy p {
  color: rgb(101, 101, 101);
  font-size: 11px;
}


/* MEDIA QUERY FOR HOME SCREEN */


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  #hero {
    width: 100%;
  }

  .hero-detail {
    padding: 0;
    padding-left: 10%;
  }

  .hero-img {
    display: none;
  }

  #WhatYouCanBuy {
    width: 90%;
  }

  #carouselExampleAutoplaying {
    width: 90%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 922px) {
  .hero-detail {
    padding: 0;
    padding-left: 20%;
  }
}